<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeAllContentForSelfExtract>true</IncludeAllContentForSelfExtract>
    <PackAsTool>false</PackAsTool>
    <DebugType>none</DebugType>
    <AllowedReferenceRelatedFileExtensions>none</AllowedReferenceRelatedFileExtensions>
    <PublishDir>$(MSBuildThisFileDirectory)..\..\..\..\artifacts\publish\linux-x64\</PublishDir>
  </PropertyGroup>
</Project>
